*{margin:0;padding:0;outline:medium none;}
body{font:12px Arial,宋体,sans-serif;background:#E8EDF2}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ul{list-style:none;}
img{border:0;}
.main{width:900px;margin:0 auto;}
.header{padding:10px;height:50px;width:450px;background:#fff;margin:20px 0;border-radius:8px;}
.header .optitle{position:relative;font-size:20px;line-height:50px;top:-18px;left:15px;}
.content{text-align:center;height:450px;background:#fff;width:900px;border-radius:8px;}
.content a{color:#3366CC;}
.content .tip{text-align:center;padding:22px;height:20px;line-height:20px;font-size:18px;}
.content .showimg{box-shadow:0 0 4px #DBE4F6;}
.content .info{position:relative;float:left;margin:50px;}
.content .aboutus{position:relative;float:right;clear:right;top:86px;right:25px;text-align:right;}
.content .aboutus div{padding:3px;}
